*.iml
.gradle
/local.properties
.idea
/.idea/caches
/.idea/codeStyles
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/graphql-settings.xml
.idea/migrations.xml
.idea/kotlinc.xml
.idea/deploymentTargetSelector.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
